@model PetShop.ViewModels.HomeViewModel

<partial name="_Carousel" />

<h2>Product of the week</h2>
<h4>Our weekly selection - just for you!</h4>

<div class="row">

    @foreach (var product in Model.ProductsOfTheWeek)
    {
        <partial name="_ProductCard" model="product" />
    }

</div>